<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="serverDirectory" value="//testapps/D/exe_testapps/Correlation/Reader/Evidences"/>
    <add key="mountedDirectory" value ="/mnt/testapps"/>
    <add key="username" value="guzmanj1"/>
    <add key="password" value="Swks0004"/>
  </appSettings>
</configuration>